version: "3"
services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${USER_PASSWORD}
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - ./media:/app/media  # Rasmlar saqlanadigan joy
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on: # Mana shu qismni qo'shasiz
      - db
      - redis
      - rabbitmq

  rabbitmq:
    image: rabbitmq:latest
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  celery:
    build: .
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
      - media_volume:/app/media # Celery ham rasmlarni ko'rishi kerak
    depends_on:
      - rabbitmq
      - redis
    env_file:
      - ./.env

volumes:
  postgres_data:
  media_volume:


























