{% extends 'base.html' %}

{% block title %}Yangi biznes ochish{% endblock %}

{% block form_title %}Yangi biznes ochish{% endblock %}
{% block form_subtitle %}O'zingizni biznesingizni ma'lumotlarini kiriting{% endblock %}

{% block form_body %}
    {% for field in form %}
        <div class="form-group-custom">
            {% if field.field.widget.input_type == "checkbox" %}
                <div class="checkbox-container">
                    {{ field }}
                    <label for="{{ field.id_for_label }}" class="mb-0">{{ field.label }}</label>
                </div>
            {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% endif %}

            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="text-danger small mt-1">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block button_text %}Ma'lumotlarni saqlash{% endblock %}